@model MvcPortfolioProject.Models.TblEducation
@{
    ViewBag.Title = "CreateEducation";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Eğitim Bilgisi Ekleme Sayfası</h2>
<form method="post">
    <div class="mb-3">
        <label class="">Okul Adı</label>
        @Html.TextBoxFor(x => x.SchoolName, new { @class = "form-control" })
    </div>
    <div class="mb-3">
        <label class="">Bölüm Adı</label>
        @Html.TextBoxFor(x => x.Department, new { @class = "form-control" })
    </div>
    <div class="mb-3">
        <label class="">Açıklama</label>
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    </div>
    <div class="mb-3">
        <label class="">Başlama Tarihi</label>
        <input type="date" name="StartDate" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="">Bitiş Tarihi </label><span><strong>(Eğer Devam Ediyorsa Boş Bırakın)</strong></span>
        <input type="date" name="EndDate" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Derece </label><span><strong>(Lisans,Önlisans,Yükseklisans vs.)</strong></span>
        <select name="Degree" class="form-select">
            <option disabled selected>Derece Seçiniz</option>
            <option value="Önlisans">Önlisans</option>
            <option value="Lisans">Lisans</option>
            <option value="Yüksek Lisans">Yüksek Lisans</option>
            <option value="Doktora">Doktora</option>
        </select>
    </div>
    <button class="btn btn-outline-success">Kaydet</button>
</form>

