﻿@model MvcPortfolioProject.Models.TblAbout

@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>UpdateAbout</h2>

<form method="post" enctype="multipart/form-data">
    @Html.HiddenFor(x => x.AboutId)

    <div class="mb-3">
        <label>Başlık</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        <label>Açıklama</label>
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    </div>
    <div class="mb-3">
        <label>Fotoğraf Eklee</label>
        <input type="file" name="ImageName" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Cv Yükle</label>
        <input type="file" name="CvName" accept=".pdf" class="form-control" />
    </div>

    <button class="btn btn-outline-primary">Güncelle</button>
</form>